.input-number {
  display: flex;
  align-items: center;
  &--minus {
    svg {
      path:first-of-type {
        display: none;
      }
    }
  }
  b {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
